<!DOCTYPE html>
<html>
	<head>
		<meta name="app-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-touch-fullscreen" content="YES" />
		<meta name="viewport" content="width=320;initial-scale=0.6666;;minimum-scale=0.6666; maximun-scale=1.0;"/>

		<%= 
			@page.css.insert 0, "/css/base.css" 
			@page.render_css 
		%>
		<%=
			@page.js.insert 0, "/js/jquery.js"
			@page.js.insert 1, "/js/jquery.cookie.js"
			@page.render_js
		%>

	</head>
	<body>
		<div id="page">
			<div id="header">
				<h1>Poietic Generator <em>Reloaded</em></h1>
			</div>
			<div id="content">
