- # vim: set ts=2 sw=2 et:
!!!
%html
  %head
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "YES", :name => "apple-touch-fullscreen"}/
    %meta{:content => "user-scalable=no,height=device-height,width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %link(rel="stylesheet" type="text/css" href="/extern/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.css")/
    %link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")/
    -# jquery base
    - @page.js.insert 0, "/js/extern/jquery-1.11.1.min.js"
    -# json parser/encoder for old (or mobile) browsers
    - @page.js << "/js/extern/json2.js"
    - @page.js << "/extern/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.js"
    = @page.render_js
    :javascript
      $.mobile.page.prototype.options.theme = "b";
  %body(class="ui-mobile-viewport")
    = yield
