- # vim: set ts=2 sw=2 et:
- @page.js << "/js/extern/jquery.cookie.js"
- @page.js << "/js/page/index.js"

#page{"data-role" => "page"}
  #header
    %h1
      Poietic Generator
  #content{"data-role" => "content"}
    #credits
      %p
        Copyleft - 2011-2013 - 
        %a(href="http://www.gnuside.com") GNUSIDE
      %p
        %a{:href => "http://poietic-generator.net/"} Original concept
        by Olivier Auber
      %p
        Version
        %a{:href => "https://github.com/Gnuside/poietic-generator/releases/tag/0.6-bhadrak"} 0.6 - Bhadrak
    #index-menu
      %img{:src => "/poietic-generator.net.gif"}/
      %br/
      %form#credentials{:action => "/page/list", "data-ajax" => "false", :method => "post"}
        %div{"data-role" => "fieldcontain"}
          %label{:for => "username"} Username
          %input#username{"name" => "username", "type" => "text", "value" => "anonymous"}/
        %div{"data-role" => "fieldcontain"}
          %label{:for => "session", :class => "select"} Session
          %select#select_session{"name" => "session"}
            - @session_list.each do |token,name|
              %option{"value" => token, "selected" => (token == @selected_session)}= name
      //%a#link_choose{"data-ajax" => "false", "data-theme" => "b", "data-inline" => "true", "data-role" => "button", :href => "/page/list"} 
      //%button(type="submit" data-theme="b" name="submit" value="submit-value")
      //  Join a session
      %a#link_play{"data-ajax" => "false", "data-inline" => "true", "data-role" => "button", :href => "/page/draw"} 
        Play
      %a#link_view{"data-ajax" => "false", "data-inline" => "true", "data-role" => "button", :href => "/page/view"} 
        View
        
    .spacer
