<%= 
	#return @page.inspect
	@page.css << "/css/session.css"
	@page.js << "/js/page.session.js"
	@page.js << "/js/session.js"
	@page.js << "/js/drawing.js"
	@page.js << "/js/colorzone.js"
	@page.js << "/js/brushzone.js"
	erb :common_header 
%>

<!-- la vue globale -->
<canvas id="view-global">
	global zone
</canvas>

<div class="spacer"></div>
<div id="session-chat" >
	chat zone
</div>

<%= erb :common_footer %>
