- # vim: set ts=2 sw=2 et:
- @page.js << "/js/extern/jquery.cookie.js"
- @page.js << "/js/console.js"
- @page.js << "/js/poieticgen.js"
- @page.js << "/js/page/admin.js"

/ admin zone
#session-zone{"data-fullscreen" => "false", "data-role" => "page"}
  %div{"data-id" => "head", "data-position" => "fixed", "data-role" => "header"}
    %h1.username Administration
    - url = "/user/logout?admin_token=%s" % @params[:admin_token]
    %a.ui-btn-left.logout{"data-ajax" => "false", :href => url} Logout
  #page-container{"data-role" => "content"}
    %form#credentials{:action => "/user/login", "data-ajax" => "false", :method => "post"}
      %div.ui-field-contain.ui-body.ui-br(data-role="fieldcontain")
        %label{:for => "username"} Session name :
        %input#session_name(name="session_name" type="text" value="")/
      // %button(type="submit" data-theme="b" name="submit" value="submit-value") Create (fake)
    .admin-buttons
      %a{"data-ajax" => "false", "href" => "/session/create?admin_token=%s" % @params[:admin_token], "data-role" => "button"} Create session
