<%= 
	#return @page.inspect
	@page.css << "/css/session.css"
	erb :common_header 
%>

	<!-- la zone de dessin -->
	<div class="generator-session-drawzone">
		draw zone
	</div>
	<!-- la vue globale -->
	<div class="generator-session-global" >
		global zone
	</div>
	<!-- la zone de selection de couleurs -->
	<div class="generator-session-colors" >
		color zone
	</div>

	<div class="generator-session-brushes" >
		brush zone
	</div>
	
	<%= erb :common_footer %>
