- # vim: set ts=2 sw=2 et:
- @page.js << "/js/extern/jquery.cookie.js"
- @page.js << "/js/console.js"
- @page.js << "/js/poieticgen.js"
- @page.js << "/js/page/admin.js"

/ admin zone
#session-zone{"data-fullscreen" => "false", "data-role" => "page"}
  %div{"data-id" => "head", "data-position" => "fixed", "data-role" => "header"}
    %h1.username Administration
    - url = "/session/%s/logout" % @params[:session_token]
    %a.ui-btn-right.logout{"data-ajax" => "false", :href => url} Logout
  #page-container{"data-role" => "content"}
    .admin-buttons
      %a{"data-ajax" => "false", "href" => "/session/create", "data-role" => "button"} New session
