<%=
	#@page.css << "/css/page_session.css"
    @page.css << "/css/colorjack.css"

    @page.js << "/js/jquery.cookie.js"
    @page.js << "/js/colorjack.js"
	@page.js << "/js/session.js"
	@page.js << "/js/patch.js"
	@page.js << "/js/zone.js"
	@page.js << "/js/console.js"
	@page.js << "/js/drawing.js"
	@page.js << "/js/brushzone.js"
	@page.js << "/js/page_draw.js"

	erb :common_header
%>


<!-- la zone de dessin -->
<div id="session-zone" data-role="page">
    <div data-role="header" data-id="head" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#session-zone" data-transition="slideup" class="ui-btn-active ui-state-persist">Zone de dessin</a></li>
                <li><a href="#session-global" data-transition="slideup">Dessin global</a></li>
                <li><a href="#session-chat" data-transition="slideup">Messages</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <canvas id="session-drawing"></canvas>
    </div>
        </div>
    </div>
</div>
<!-- la vue globale -->
<div id="session-global" data-role="page">
    <div data-role="header" data-id="head" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#session-zone" data-transition="slideup">Zone de dessin</a></li>
                <li><a href="#session-global" data-transition="slideup" class="ui-btn-active ui-state-persist">Dessin global</a></li>
                <li><a href="#session-chat" data-transition="slideup">Messages</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        global zone
    </div>
</div>
<!-- la zone chat -->
<div id="session-chat" data-role="page">
    <div data-role="header" data-id="head" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#session-zone" data-transition="slideup">Zone de dessin</a></li>
                <li><a href="#session-global" data-transition="slideup">Dessin global</a></li>
                <li><a href="#session-chat" data-transition="slideup" class="ui-btn-active ui-state-persist">Messages</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        chat zone
    </div>
</div>

<%= erb :common_footer %>
