<%=
    #@page.css << "/css/page_session.css"
    @page.css << "/css/colorjack.css"
    @page.css << "/css/message.css"

    @page.js << "/js/jquery.cookie.js"
    @page.js << "/js/colorjack.js"
    @page.js << "/js/session.js"
    @page.js << "/js/patch.js"
    @page.js << "/js/board.js"
    @page.js << "/js/zone.js"
    @page.js << "/js/console.js"
    @page.js << "/js/editor.js"
    @page.js << "/js/brushzone.js"
    @page.js << "/js/chat.js"
    @page.js << "/js/page_draw.js"

    erb :common_header
%>


<!-- la zone de dessin -->
<div id="session-zone" data-role="page">
    <div data-role="header" data-id="head" data-backbtn="false" data-position="fixed">
        <a href="#" id="brush" class="ui-btn-left"><span id="brush-action">Show</span> colors</a>
        <h1>Drawing zone</h1>
        <a href="/logout" data-ajax="false" class="ui-btn-right">Logout</a>
        <div data-role="navbar">
            <ul>
                <li><a href="#session-global" data-transition="slideup">Global view</a></li>
                <li><a href="#session-chat" data-transition="slideup">Messages</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <canvas id="session-drawing"></canvas>
    </div>
    <!--<div data-role="footer" data-position="fixed" class="ui-grid-d">
        <div class="ui-block-a">
            <a href="#" data-role="button" data-theme="c" id="brush"><span id="brush-action">Show</span> colors</a>
        </div>
        <div class="ui-block-b"></div>
        <div class="ui-block-c"></div>
        <div class="ui-block-d"></div>
        <div class="ui-block-e">
            <ul data-role="listview" data-inset="true">
                <li><a href="#session-chat">New messages<span class="ui-li-count">O</span></a></li>
            </ul>
        </div>
    </div>-->
</div>
<!-- la vue globale -->
<div id="session-global" data-role="page">
    <div data-role="header" data-id="head" data-backbtn="false" data-position="fixed">
        <h1>Global view</h1>
        <a href="/logout" data-ajax="false" class="ui-btn-right">Logout</a>
        <div data-role="navbar">
            <ul>
                <li><a href="#session-zone" data-transition="slideup">Drawing zone</a></li>
                <li><a href="#session-chat" data-transition="slideup">Messages</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <canvas id="session-board"></canvas>
    </div>
</div>
<!-- la zone chat -->
<div id="session-chat" data-role="page">
    <div data-role="header" data-id="head" data-backbtn="false" data-position="fixed">
        <h1>Messages</h1>
        <a href="/logout" data-ajax="false" class="ui-btn-right">Logout</a>
        <div data-role="navbar">
            <ul>
                <li><a href="#session-zone" data-transition="slideup">Drawing Zone</a></li>
                <li><a href="#session-global" data-transition="slideup">Global view</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
      <div>
        <fieldset class="ui-grid-a">
          <form id="send-message-form" action="" method="post" data-ajax="false">
            <div class="ui-block-a">
              <select id="send-message-form-to" name="send-message-form-to" data-native-menu="false">
              </select>
            </div> <!-- ui-block-a -->
            <div class="ui-block-b">
              <input id="send-message-form-content" name="send-message-form-content" cols="20" rows="5" type="text">
              </input>
            </div> <!-- ui-block-b -->
          </form>
        </fieldset> <!-- grid -->
        <hr>
        <fieldset> <!-- received/sent messages zone -->
          <div class="ui-grid-a" id="message-contener">
            <div class="ui-block-a message-src">
              <div class="ui-body ui-body-a">toi</div>
            </div>
            <div class="ui-block-b message-content">
              <div class="ui-body ui-body-a">Le message de toi</div>
            </div>
            <div class="ui-block-a message-content">
              <div class="ui-body ui-body-b message-dst-content">Le message de moi</div>
            </div>
            <div class="ui-block-b message-dst">
              <div class="ui-body ui-body-b">moi</div>
            </div>
          </div>
        </fieldset>
      </div>
      <!--        <a href="#send-message" data-rel="dialog" data-transition="pop">Send a message</a> -->
    </div>
</div>
<!-- send a message -->
<div id="send-message" data-role="page">
    <div data-role="header">
        <h1>Send a message</h1>
    </div>
    <div data-role="content">
        <form id="send-message-form" action="" method="post" data-ajax="false">
            <div data-role="fieldcontain">
                <label for="send-message-form-to">User</label>
                <select id="send-message-form-to" name="send-message-form-to" data-native-menu="false">
                </select>
            </div>
            <div data-role="fieldcontain">
                <label for="send-message-form-content">Message</label>
                <textarea id="send-message-form-content" name="send-message-form-content" cols="20" rows="5"></textarea>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a href="#" data-role="button" data-rel="back">Cancel</a>
                </div>
                <div class="ui-block-b">
                    <input type="submit" value="Send">
                </div>
            </div>
        </form>
    </div>
</div>

<%= erb :common_footer %>
