<%= 
	@page.css << "/css/page_index.css"

	erb :common_header 
%>

<div id="index-menu">
	<img src="poietic-generator.net.gif" /><br />
	<a href="/session/join">Participate</a> or 
	<a href="/session/join">View only</a>
</div>

<%= erb :common_footer %>
