<%=
    @page.css << "/css/page_view.css"

    @page.js << "/js/view_session.js"
    @page.js << "/js/console.js"
    @page.js << "/js/viewer.js"
    @page.js << "/js/board.js"
    @page.js << "/js/zone.js"
    @page.js << "/js/page_view.js"

    erb :common_header
%>

<div data-role="page" data-fullscreen="true">
    <div data-role="header" data-id="head" data-position="fixed">
        <h1 class="username">Poietic Generator's view</h1>
        <a href="/" data-ajax="false" class="ui-btn-right logout">Back</a>
        <div data-role="navbar">
            <ul>
                <li><a href="#"  class="ui-btn-active ui-state-persist">View from begining</a></li>
                <li><a href="#">View from current state</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <div class="center">
            <canvas id="session-viewer"></canvas>
        </div>
    </div>
</div>
<%= erb :common_footer %>
