<!DOCTYPE html>
<html>
    <head>
	<%= erb :html_header %>
	<script type="text/javascript">
	    var session = null;
	    window.onload = function() {
		session = new Session();
		drawzone = new DrawZone(session, 'generator-session-drawzone');
		globalzone = new GlobalZone(session, 'generator-session-global');
		colorzone = new ColorZone(session, 'generator-session-colors');
		// create session with 
	    }
	</script>
    </head>
    <body>
	<%= erb :header %>

	<!-- la zone de dessin -->
	<div class="generator-session-drawzone">
		draw zone
	</div>
	<!-- la vue globale -->
	<div class="generator-session-global" >
		global zone
	</div>
	<!-- la zone de selection de couleurs -->
	<div class="generator-session-colors" >
		color zone
	</div>

	<div class="generator-session-brushes" >
		brush zone
	</div>
	
	<%= erb :footer %>
    </body>
</html>
