<!DOCTYPE html>
<html>
    <head>
	<%= erb :common_html_header %>
    </head>
    <body>
	<%= erb :common_header %>

	<form action="/session/join" method="get" class="generator-index">
	    <img src="poietic-generator.net.gif" /><br />
	    <input type="submit" value="Participate !" />
	</form>
	
	<%= erb :common_footer %>
    </body>
</html>
