@page.css << "/css/base.css"
@page.css << "/css/page_admin.css"

@page.js << "/js/extern/jquery.cookie.js"
@page.js << "/js/console.js"
@page.js << "/js/poieticgen.js"
@page.js << "/js/page/admin.js"

/ admin zone
#session-zone{"data-fullscreen" => "false", "data-role" => "page"}
  %div{"data-id" => "head", "data-position" => "fixed", "data-role" => "header"}
    %h1.username Administration
    %a.ui-btn-right.logout{"data-ajax" => "false", :href => "/page/logout"} Logout
  #page-container{"data-role" => "content"}
    .admin-buttons
      %a{"data-ajax" => "false", "href" => "/restart", "data-role" => "button"} New session
