<%=
@page.css << "/stylesheets/page_admin.css"

@page.js << "/js/extern/jquery.cookie.js"
@page.js << "/js/console.js"
@page.js << "/js/poieticgen.js"
@page.js << "/js/page/admin.js"
\%>
/ admin zone
#session-zone{"data-fullscreen" => "false", "data-role" => "page"}
  %div{"data-id" => "head", "data-position" => "fixed", "data-role" => "header"}
    %h1.username Administration
    %a.ui-btn-right.logout{"data-ajax" => "false", :href => "/page/logout"} Logout
    %div{"data-role" => "navbar"}
      %ul
        %li
          %a.ui-btn-active.ui-state-persist{"data-transition" => "slideup", :href => "#session-zone"} Drawing zone
  #canvas-container{"data-role" => "content"}
    .ui-grid-a.viewer
      %canvas#session-viewer
    .ui-grid-a.editor
      %canvas#session-editor
