<%= 
	@page.css << "/css/page_session.css"

	@page.js << "/js/page_session.js"
	@page.js << "/js/session.js"
	@page.js << "/js/drawzone.js"
	@page.js << "/js/colorzone.js"
	@page.js << "/js/brushzone.js"

	erb :common_header 
%>

<!-- la zone de dessin -->
<canvas id="session-drawzone">
	draw zone
</canvas>
<!-- la vue globale -->
<div id="session-global" >
	global zone
</div>
<!-- la zone de selection de couleurs -->
<div id="session-color" >
	color zone
</div>

<div id="session-brush" >
	brush zone
</div>

<div class="spacer"></div>
<div id="session-chat" >
	chat zone
</div>

<%= erb :common_footer %>
