- # vim: set ts=2 sw=2 et:
- @page.js << "/js/extern/jquery.cookie.js"
- @page.js << "/js/extern/colorjack.js"
- @page.js << "/js/console.js"
- @page.js << "/js/poieticgen.js"
- @page.js << "/js/poieticgen/colorpicker.js"
- @page.js << "/js/poieticgen/edit_session.js"
- @page.js << "/js/poieticgen/patch.js"
- @page.js << "/js/poieticgen/zone.js"
- @page.js << "/js/poieticgen/board.js"
- @page.js << "/js/poieticgen/game.js"
- @page.js << "/js/poieticgen/editor.js"
- @page.js << "/js/poieticgen/viewer.js"
- @page.js << "/js/poieticgen/brushzone.js"
- @page.js << "/js/poieticgen/chat.js"
- @page.js << "/js/page/draw.js"

- url_logout = "/session/%s/logout" % @params[:session_token]
/ drawing zone
#session-zone(data-fullscreen="true" data-role="page")
  %div(data-id="head" data-position="fixed" data-role="header")
    %a#brush(data-ajax="false" href="#")
      %span#current_color> &nbsp;&nbsp;&nbsp;&nbsp;
      Color
    %h1.username
    %a.ui-btn-right.logout{"data-ajax" => "false", :href => url_logout} Logout
    %div(data-role="navbar")
      %ul
        %li
          %a.ui-btn-active.ui-state-persist(data-transition="slideup" href="#session-zone") Drawing zone
        %li
          %a(data-transition="slideup" href="#session-chat")
            Messages
            %span.ui-li-count.ui-btn-up-c.ui-btn-corner-all 0
  #canvas-container(data-role="content")
    .ui-grid-a.viewer
      %canvas#session-viewer
    .ui-grid-a.editor
      %canvas#session-editor
/ chat zone
#session-chat(data-role="page")
  %div{"data-id" => "head", "data-position" => "fixed", "data-role" => "header"}
    %h1.username
    %a.ui-btn-right.logout{"data-ajax" => "false", :href => url_logout} Logout
    %div{"data-role" => "navbar"}
      %ul
        %li
          %a{"data-transition" => "slideup", :href => "#session-zone"} Drawing zone
        %li
          %a.ui-btn-active.ui-state-persist{"data-transition" => "slideup", :href => "#session-chat"} Messages
  %div{"data-role" => "content"}
    %fieldset
      %form#send-message-form{:action => "", "data-ajax" => "false", :method => "post"}
        %div{"data-role" => "fieldcontain"}
          %label{:for => "send-message-form-to"} User
          %select#send-message-form-to{:name => "send-message-form-to"}
        %div{"data-role" => "fieldcontain"}
          %label{:for => "send-message-form-content"} Message
          %input#send-message-form-content{:name => "send-message-form-content", :type => "text", :value => ""}/
    %hr/
    #message-contener.ui-grid-a
