<%= 
	#return @page.inspect
	@page.css << "/css/session.css"
	@page.js << "/js/page.session.js"
	@page.js << "/js/session.js"
	@page.js << "/js/drawzone.js"
	@page.js << "/js/colorzone.js"
	@page.js << "/js/brushzone.js"
	erb :common_header 
%>

<!-- la zone de dessin -->
<div class="session-drawzone">
	draw zone
</div>
<!-- la vue globale -->
<div class="session-global" >
	global zone
</div>
<!-- la zone de selection de couleurs -->
<div class="session-colors" >
	color zone
</div>

<div class="session-brushes" >
	brush zone
</div>

<div class="session-spacer"></div>
<%= erb :common_footer %>
