<%=
    @page.css << "/css/base.css"
	@page.css << "/css/page_index.css"

	erb :common_header
%>

<div id="page" data-role="page">
    <div id="header">
        <h1>Poietic Generator <em>Reloaded</em></h1>
    </div>
    <div id="content" data-role="content">
        <div id="index-menu">
            <img src="poietic-generator.net.gif" /><br />
            <a href="/page/draw" data-ajax="false">Play</a> or
            <a href="/page/view" data-ajax="false">View</a>
        </div>
        <div class="spacer"></div>
    </div>
    <div id="footer">
        <p>Copyleft - 2011 - Gnuside</p>
        <p>
        <a href="http://poietic-generator.net/">Original concept</a> by Olivier Auber
        </p>
    </div>
</div>

<%= erb :common_footer %>
