<%= 
	@page.css << "/css/page_index.css"

	erb :common_header 
%>

<div id="index-menu">
	<img src="poietic-generator.net.gif" /><br />
	<a href="/page/draw">Play</a> or 
	<a href="/page/view">View</a>
</div>

<%= erb :common_footer %>
