- # vim: set ts=2 sw=2 et:
- @page.css << "/stylesheets/page_view.css"
- @page.js << "/js/console.js"
- @page.js << "/js/poieticgen.js"
- @page.js << "/js/poieticgen/view_session.js"
- @page.js << "/js/poieticgen/zone.js"
- @page.js << "/js/poieticgen/viewer.js"
- @page.js << "/js/poieticgen/board.js"
- @page.js << "/js/page/view.js"

%div{"data-fullscreen" => "true", "data-role" => "page"}
  %div{"data-role" => "content"}
    .viewer
      %canvas#session-viewer
