- # vim: set ts=2 sw=2 et:

%div(data-fullscreen="true" data-role="page" class="ui-page poietic-page-#{@page.title}")
  %div(data-role="header" data-id="head")
    %h1.username Choose session
    %a.ui-btn-left.logout(href="/" data-rel="back") Back
  %div(role="main" class="ui-content") 
    %ul(data-role="listview" class="ui-listview")
      - @sessions.each do |session|
        //%option{"value" => token, "selected" => (token == @selected_session)}= name
        %li
          %a(data-ajax="false" href="/session/#{session.session_token}/view") 
            %h2= session.name.nil? ? "Session #{session.id}" : session.name
            %p 22 players
      //%a#link_choose{"data-ajax" => "false", "data-theme" => "b", "data-inline" => "true", "data-role" => "button", :href => "/page/list"} 
      //%button(type="submit" data-theme="b" name="submit" value="submit-value")
      //  Join a session
 
