<!DOCTYPE html>
<html>
    <head>
	<%= erb :html_header %>
    </head>
    <body>
	<%= erb :header %>

	<!-- la vue globale -->
	<div class="generator-session-global" >
	    vue globale
	</div>
	<!-- la zone de selection de couleurs -->
	<div class="generator-session-colors" >
	    couleurs
	</div>
	<!-- la zone de dessin -->
	<div class="generator-session-drawzone">
	    zone de dessin
	</div>
	
	<%= erb :footer %>
    </body>
</html>
