@font-face {
    font-family: 'Raleway Thin';
    src: url('/fonts/raleway/raleway_thin.eot');
    src: local('☺'),
		url('/fonts/raleway/raleway_thin.otf') format('opentype');
}

body {
	left: 0px;
	top: 0px:
	right: 0px;
	padding: 0px;
	margin: 0px;
    background: #c0c0c0;
}

#page {
    color: white;
    background: black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    -moz-border-radius: 1em 1em 1em 1em;
    -webkit-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    
    -moz-box-shadow: 0em 0em 0.6em #f50;
    -webkit-box-shadow: 0em 0em 0.6em #f50;
    box-shadow: 0em 0em 0.6em #f50;

    font-family: "Raleway Thin";
}

#header {
    margin-top: 1em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#header h1 {
    text-shadow: 0.1em 0em 0.1em red,
		-0.1em 0em 0.1em green ;
		0em 0.2em 0.1em blue ;
}

#content {
    border: 0px solid none;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#footer {
    clear: both;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#footer a {
    color: #0aa;
}

#footer a:visited {
    color: #088;
}

.spacer { clear: both; width:0px; height: 0px; }
