.editor,
.viewer {
    text-align:center;
}

.editor { margin:0; padding:0; }
.viewer { margin:0; padding:0; }

.ui-content { margin:0; padding: 0; }
.ui-grid-a { margin:0; padding: 0; }
#session-editor { margin:0; padding: 0; }
#session-viewer { margin:0; padding: 0; }
