@font-face {
    font-family: 'Raleway Thin';
    src: url('/fonts/raleway/raleway_thin.eot');
    src: local('☺'),
	url('/fonts/raleway/raleway_thin.otf') format('opentype');
}

body {
    background: #888899;
}

#page {
    color: white;
    background: black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    -moz-border-radius: 1em 1em 1em 1em;
    -webkit-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    
    -moz-box-shadow: 0em 0em 0.6em #f50;

    font-family: "Raleway Thin";
}

#header {
    margin-top: 1em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#header h1 {
    text-shadow: 0.1em 0em 0.1em red,
	-0.1em 0em 0.1em green   ;
	0em 0.2em 0.1em blue   ;
}

#content {
    border: 0px solid none;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#footer {
    clear: both;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.generator-index {
    display: block;
    text-align: center;
    border: 1px;
    margin: 1em;
}

.generator-index img {
    margin: 1em;
    border: 1em solid white;
}

.generator-session-drawzone {
    display: block;
    background: #222;
    float: left;
    width: 512px;
    height: 512px;
    /* border: 1px solid red; */

    -moz-box-shadow: inset 0em 0em 1em black;
    -webkitbox-shadow: inset 0em 0em 1em black;
    box-shadow: inset 0em 0em 1em black;
}

.generator-session-global {
    display: block;
    background: #222;
    float: right;
    width: 256px;
    height: 256px;
    /* border: 1px solid red; */

    -moz-box-shadow: inset 0em 0em 1em black;
    -webkitbox-shadow: inset 0em 0em 1em black;
    box-shadow: inset 0em 0em 1em black;
}

.generator-session-colors {
    display: block;
    background: #222;
    float: right;
    margin-top: 28px;
    width: 256px;
    height: 100px;
    /* border: 1px solid red; */

    -moz-box-shadow: inset 0em 0em 1em black;
    -webkitbox-shadow: inset 0em 0em 1em black;
    box-shadow: inset 0em 0em 1em black;
}

.generator-session-brushes {
    display: block;
    background: #222;
    float: right;
    margin-top: 28px;
    width: 256px;
    height: 100px;
    /* border: 1px solid red; */

    -moz-box-shadow: inset 0em 0em 1em black;
    -webkitbox-shadow: inset 0em 0em 1em black;
    box-shadow: inset 0em 0em 1em black;
}

#footer a {
    color: #0aa;
}

#footer a:visited {
    color: #088;
}
