
[server]
; enable ssl
ssl = false

; host name
virtualhost = whatever.example.com

; root url
root = /

; port on which to listen
port = 80

; file in which daemon's pid will be stored
pidfile = tmp/poieticgen.pid


[board]
; name for that board, also used to access this board with the url.
name = "board1"

; width of a drawing zone
width = 20

; height of a drawing zone
height = 20

; zone allocation strategy ('spiral', 'random')
allocator = spiral

; available colors or palette ('ansi', 'truecolor')
colors = truecolor


[database]
; the type of database
adapter = sqlite

; database host
host = localhost

; database username
username = johndoe

; database password
password = foobar

; database name
database = tmp/poieticgen.sqlite3


[chat]
; enable chat module
enable = false


[user]
; maximum number of allowed clients
max_clients = 100

; maximum idle seconds for a client (uint)
max_idle = 300

; number of seconds between keepalive messages (pull messages)
keepalive = 5

