.poietic-page-index {

  .ui-body-c {
		text-shadow: none;
  }

  #index-menu {
		display: block;
		text-align: center;
		border: 1px;
		margin: 1em;
		color: white;

		#credentials {
	    @media (min-width: 450px) {
	      label {
	        margin: 0;
	        vertical-align: middle;
	    	  width: 20%;
	    	  display: inline-block;
	        text-align: right;
	      }

	      div.ui-select, input.ui-input-text {
	    	  box-sizing: border-box;
	        max-width: 40%;
	        width: 40%;
	        text-align: center;
          vertical-align: middle;
          display: inline-block;
	      }
	    }
		}

		img {
	    margin: 1em;
	    border: 1em solid white;
		}
  }

  #credits {
		text-align: center;
  }

}
